http {
    upstream apps {
    {% for i in apps %}
        server app-{{ i }};
    {% endfor %}
    }
    server {
        listen {{ app_server_port }};
        location / {
            proxy_pass http://{{ app_servers_group_name }};
        }
    }
}
